<nav class="navbar navbar-inverse" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="<{:U('Admin/Index/center')}>">微信刮刮乐</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li><a href="<{:U('Admin/Index/center')}>">首页</a></li>
         <li><a href="<{:U('Admin/Data/getExcel')}>">获奖数据</a></li>
         <li><a href="<{:U('Admin/Setting/app')}>">设置APP</a></li>
         <li><a href="<{:U('Admin/Setting/award')}>">设置奖品</a></li>
         <li><a href="<{:U('Admin/Setting/introduction')}>">设置说明</a></li>
         <li><a href="<{:U('Admin/Logout/index')}>">退出</a></li>
      </ul>
   </div>
</nav>